Source: ros-noetic-dingo-bringup
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-roslaunch <!nocheck>
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-dingo-bringup
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-depth-image-proc, ros-foxy-microstrain-inertial-driver, ros-foxy-realsense2-camera, ros-foxy-robot-upstart, ros-foxy-urg-node, ros-foxy-velodyne-pointcloud, ros-noetic-dingo-base, ros-noetic-lms1xx, ros-noetic-spinnaker-camera-driver, socat
Description: Scripts for installing Dingo's robot software.
