Source: ros-melodic-dingo-base
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-controller-manager, ros-melodic-diagnostic-updater, ros-melodic-dingo-msgs, ros-melodic-geometry-msgs, ros-melodic-hardware-interface, ros-melodic-puma-motor-driver, ros-melodic-puma-motor-msgs, ros-melodic-realtime-tools, ros-melodic-roscpp, ros-melodic-roslaunch, ros-melodic-roslint, ros-melodic-rosserial-server, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-dingo-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-scipy, ros-melodic-controller-manager, ros-melodic-diagnostic-aggregator, ros-melodic-diagnostic-updater, ros-melodic-diff-drive-controller, ros-melodic-dingo-control, ros-melodic-dingo-description, ros-melodic-dingo-msgs, ros-melodic-geometry-msgs, ros-melodic-imu-filter-madgwick, ros-melodic-puma-motor-driver, ros-melodic-puma-motor-msgs, ros-melodic-realtime-tools, ros-melodic-rosserial-python, ros-melodic-rosserial-server, ros-melodic-sensor-msgs, ros-melodic-std-msgs, ros-melodic-teleop-twist-joy, ros-melodic-tf, ros-melodic-topic-tools
Description: Dingo's mobility and sensor base.
